<article class="post">
  <div class="title">
    <a class= "maintitle" href="{{post_url}}" target="_blank">{{title}}</a>
  </div>
  <div class="meta">
      Posted by {{user.username}} in {{user.language.language_name}} on {{format_date created_at}}
    ||
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  <div class="posttext">
    {{post}}
  </div>
</article>

