<article>
  <a href="/dashboard">&larr; Back to Dashboard</a>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <input name="post-url" type="text" value="{{post.post_url}}" />
    </div>
    <div>
      Posted by you on {{post.created_at }}
      ||
      <a href="/post/{{ post.id }}">{{ post.comments.length }} {{ post.comments.length }}</a>
    </div>
    <strong>Content:</strong>
    <div>
      <textarea name="post">{{ post.post }}</textarea>
    </div>
      <button type="submit">Save Post</button>
      <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
  <form class="comment-form">
    <strong>Comment:</strong>
    <div>
      <textarea name="comment-body"></textarea>
    </div>
    <div>
      <button type="submit">Add Comment</button>
    </div>
  </form>
  {{#if post.comments.length}}
    {{> comments post.comments}}
  {{/if}}
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
